---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import AboutJSON from "../assets/about.json";
import MetaTags from "../components/MetaTags.astro";
import { about } from "../assets/metaData.json";
import { Image } from "astro:assets";

import aboutimg from "../assets/pictures/sam.png";
import CatGraphic from "../assets/pictures/graphics/cat1.jpg";
import Web1 from "../assets/pictures/graphics/web1.png";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/the-fairy-browmother/bat.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <MetaTags
      title={about.title}
      description={about.description}
      url={about.url}
      img={about.img}
    />
  </head>
  <body>
    <Navigation />
    <main class="py-16 px-8 flex justify-center items-center relative">
      <Image src={Web1} alt="" class="absolute top-0 left-0 opacity-10" />
      <section
        class="pt-28 flex flex-col md:flex-row justify-between gap-6 max-w-7xl w-full"
      >
        <div class="flex flex-col gap-6 max-w-2xl">
          <h2 class="font-style-script">Meet your Fairy Browmother</h2>
          <h4 class="text-gray-500">
            {AboutJSON.description}
          </h4>
          <p>{AboutJSON.text}</p>
          <div class="w-28 h-28 m-auto md:m-0">
            <Image src={CatGraphic} alt={`Cute Cat`} />
          </div>
        </div>
        <div class="min-w-64 max-w-96">
          <Image src={aboutimg} alt={`Image of the Fiary Browmother`} />
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
