---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import AboutJSON from "../assets/about.json";
import MetaTags from "../components/MetaTags.astro";
import { about } from "../assets/metaData.json";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/the-fairy-browmother/bat.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <MetaTags
      title={about.title}
      description={about.description}
      url={about.url}
      img={about.img}
    />
  </head>
  <body>
    <Navigation />
    <main class="py-16 px-8 md:px-44">
      <section class="pt-28 flex flex-col md:flex-row justify-between gap-6">
        <div class="flex flex-col gap-6 max-w-2xl">
          <h2>Meet your Fairy Browmother</h2>
          <h4 class="text-gray-500">
            {AboutJSON.description}
          </h4>
          <p>{AboutJSON.text}</p>
          <div class="w-28 h-24 bg-[var(--light-purp)]">
            <!-- Graphic element here -->
          </div>
        </div>
        <div class="md:min-w-96 h-[30rem]">
          <img
            alt="About Img"
            class="w-full h-full bg-[var(--grey)] flex-auto flex justify-center items-center"
          />
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
