---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import FAQItem from "../components/FAQItem.astro";
import FAQJSON from "../assets/faq.json";
import MetaTags from "../components/MetaTags.astro";
import { faq } from "../assets/metaData.json";
import { Image } from "astro:assets";

import Web2 from "../assets/pictures/graphics/web2.png";
import Web3 from "../assets/pictures/graphics/web3.png";
import Demon from "../assets/pictures/graphics/demon1.png";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/the-fairy-browmother/bat.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <MetaTags
      title={faq.title}
      description={faq.description}
      url={faq.url}
      img={faq.img}
    />
  </head>
  <body>
    <Navigation />
    <main class="py-16 px-8 md:px-44 relative">
      <div class="absolute top-0 right-0 opacity-10 -z-10 max-w-5xl">
        <Image src={Web2} alt="" />
      </div>
      <div class="absolute bottom-0 left-0 opacity-10 -z-10 max-w-5xl">
        <Image src={Web3} alt="" />
      </div>
      <section
        class="flex flex-col md:flex-row gap-8 justify-around items-center mt-52 relative"
      >
        <h3 class="text-center font-style-script text-nowrap">
          Frequently Asked Questions
        </h3>
        <div class="w-48 h-48 absolute -top-[325%] left-1/2 -translate-x-1/2">
          <Image src={Demon} alt={`Cute Demon`} />
        </div>
      </section>
      <section
        class="flex flex-col justify-center items-center gap-8 py-8 xl:px-56"
      >
        {
          FAQJSON.map((item) => {
            return <FAQItem question={item.question} answer={item.answer} />;
          })
        }
      </section>
    </main>
    <Footer />
  </body>
</html>
