---
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Service from "../components/Service.astro";
import servicesJSON from "../content/services.json";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/the-fairy-browmother/bat.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Services - The Fairy Browmother</title>
  </head>
  <body>
    <Navigation />
    <main>
      <div
        class="bg-[var(--grey)] h-[36rem] w-full flex flex-col justify-center items-center"
      >
        <h1>Services</h1>
        <p>Services Description</p>
      </div>
      <section class="py-16 px-8 md:px-44 flex flex-col gap-8">
        {
          servicesJSON.map((service, i) => {
            return (
              <Service
                name={service.name}
                description={service.description}
                price={service.price}
                time={service.time}
                reverse={i % 2 === 0 ? false : true}
              />
            );
          })
        }
      </section>
    </main>
    <Footer />
  </body>
</html>
